    .content {
        p{
            display: flex;
            span {
                font-weight: bold;
                margin-right: 6px;
            }
        }
        hr {
            color: #f6f6f655;
            background-color: #f6f6f655;
        }
    }
