@import "../../../styles/colors.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin-top: -10px;
  h4 {
    margin-bottom: 30px;
    color: $dark-blue;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .content {
    display: flex;
    flex-direction: row;

    form {
      display: flex;
      width: 50%;
    }

    .accountContainer {
      margin-right: auto;
      width: 100%;
    }
    .passwordContainer {
      width: 45%;
      margin-right: auto;
    }
    hr {
      color: #f6f6f655;
    }
    .checkboxes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .checkboxContainer {
        align-items: center;
        width: 100%;

        .checkbox {
          justify-self: center;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
    .checkbox {
      justify-self: start;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .inputContainer {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      margin-bottom: 10px;

      input {
        width: 100%;
        border: 2px solid #d6d3d3;
        background-color: #f6f6f6;
        padding: 12px;
        padding-bottom: 4px;
        padding-top: 4px;
        border-radius: 6px;
        appearance: none;
        position: relative;
        z-index: 0;
      }
      .selectContainer {
        position: relative;
        select {
          width: 100%;
          border: 2px solid #d6d3d3;
          background-color: #f6f6f6;
          padding: 12px;
          padding-bottom: 4px;
          padding-top: 4px;
          border-radius: 6px;
          appearance: none;
          position: relative;
          z-index: 0;
        }
      }
    }

  }
  .caseContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-right: 36px;
    margin-top: -20px;
  }
  .case {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 4px;
    }
    .selectContainer {
      position: relative;
      select {
        width: 100%;
        border: 2px solid #d6d3d3;
        background-color: #f6f6f6;
        padding: 12px;
        padding-bottom: 4px;
        padding-top: 4px;
        border-radius: 6px;
        appearance: none;
        position: relative;
        z-index: 0;
      }
    }
  }
  .remark {
    margin-top: -20px;
    margin-right: 36px;
  }

  textarea {
    width: 100%;
        border: 2px solid #d6d3d3;
        background-color: #f6f6f6;
        padding: 12px;
        padding-bottom: 4px;
        padding-top: 4px;
        border-radius: 6px;
  }
  .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-right: 36px;
  }
}
